<main id="main" class="main">
    <app-pagetitlecomponent pagetitle="Edit Seller"></app-pagetitlecomponent>
    <form #form="ngForm" class="card border-0 p-3">
        <input type="hidden" name="Id" value="{{Id}}" />
        <input type="hidden" name="adminId" value="{{adminId}}" />          
        <div class="d-flex flex-wrap gap-3">
            <div class="flex-fill">
                <app-labelcontrolconcomponent label="Name" [star]="true"></app-labelcontrolconcomponent>
                <app-inputcontrolcomponent errmsg="{{nameMessage}}" [(inputModel)]="Name" placeholder="" class="bg-white bg-none" type="text"></app-inputcontrolcomponent>          
            </div>
            <div class="flex-fill">
                <app-labelcontrolconcomponent label="Email" [star]="false"></app-labelcontrolconcomponent>
                <app-inputcontrolcomponent errmsg="{{emailMessage}}" [(inputModel)]="Email" placeholder="" class="bg-white bg-none" type="text"></app-inputcontrolcomponent>          
            </div>

            <div class="flex-fill">
                <app-labelcontrolconcomponent label="Contact" [star]="true"></app-labelcontrolconcomponent>
                <app-inputcontrolcomponent errmsg="{{ContactMessage}}" [(inputModel)]="Contact" placeholder="" class="bg-white bg-none" type="text"></app-inputcontrolcomponent>          
            </div>
           
        </div>        
        <app-activeswitchcontrolconcomponent [(inputModel)]="Active"></app-activeswitchcontrolconcomponent> 
        
        <span class="text-danger">{{mes}}</span>
        <img *ngIf="loading" width="50" class="d-block mx-auto" class="loader-img" src="/assets/images/loader.gif" />
        <div class="d-flex justify-content-end gap-2">        
            <app-buttoncontrolconcomponent routerLink="{{sellerurl}}" btnstyle="bg-silver text-dark float-end mt-3 border-0 px-3" btnname="Cancel"></app-buttoncontrolconcomponent>    
            <app-buttoncontrolconcomponent [btndisable]="loading" (click)="onSubmit(form)"  btnstyle="bg-theme2 float-end mt-3 border-0 px-3" btnname="Save"></app-buttoncontrolconcomponent>
        </div>   
    </form>
    
</main>