
    <li class="dropdown-header">
      <h6 class="mb-0" >{{userName}}</h6>
      <span *ngFor="let dt of data">{{dt.userrole}}</span>
   </li>
   <li>
      <hr class="dropdown-divider">
   </li>
   
   
   <!-- <li> <a class="dropdown-item d-flex align-items-center" routerLink="{{settingsurl}}"> <i class="bi bi-gear"></i> <span>Account Settings</span> </a></li> -->
                  
   <li>
      <hr class="dropdown-divider">
   </li>
   <li> <a class="dropdown-item d-flex align-items-center" routerLink="/logout"> <i class="bi bi-box-arrow-right"></i> <span>Sign Out</span> </a></li>

