<div class="col-md-12">
    <div class="card p-3 shadow-sm border-0">
      <input   type="text" class="form-control search-control"  name="searchString" placeholder="Type to search..."/>                     
    </div>
  </div>
  <div class="slider-list">     
      <div class="card border-0 p-3">
          <table class="table mb-0">
              <thead>
                <tr>   
                  <th>Ticket No</th>                        
                  <th>Name</th>  
                  <th>Contact</th>  
                  <th>Subject</th>                             
                  <th>Status</th>                            
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>                            
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>                  
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'70px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader> 
                  </td>
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'70px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader> 
                  </td>
                  <td class="text-center">
                    <ngx-skeleton-loader count="1" appearance="line"
                    animation="progress-dark"
                    [theme]="{
                    width:'20px',
                    height:'20px'
                    }">
                </ngx-skeleton-loader> 
                  </td>
                </tr>
                <tr>                            
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>  
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>  
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>                  
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'70px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader> 
                  </td>
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'70px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader> 
                  </td>
                  <td class="text-center">
                    <ngx-skeleton-loader count="1" appearance="line"
                    animation="progress-dark"
                    [theme]="{
                    width:'20px',
                    height:'20px'
                    }">
                </ngx-skeleton-loader> 
                  </td>
                </tr>
                <tr>                            
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td> 
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td> 
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>                  
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'70px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader> 
                  </td>
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'70px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader> 
                  </td>
                  <td class="text-center">
                    <ngx-skeleton-loader count="1" appearance="line"
                    animation="progress-dark"
                    [theme]="{
                    width:'20px',
                    height:'20px'
                    }">
                </ngx-skeleton-loader> 
                  </td>
                </tr>
              </tbody>
            </table>
      </div>                              
  </div>
  