.logo-img-header {
	max-height: 35px;
	margin-right: 6px;
}
.logo-img-sidebar{
    width: 180px !important;
	height: 70px;
	margin: auto;display: block;
    -border: 1px solid red;
	object-fit: contain;
}
.login-logo{
	-border: 1px solid red;
	width: 180px;height: 70px;
	object-fit: contain;
	margin-inline: auto;
  }
  .uploaded-logo{
	width: 150px;
	height: 100px;
	object-fit: contain;
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 5px;
  }