<main id="main" class="main">
    <app-pagetitlecomponent pagetitle="Create SellOption"></app-pagetitlecomponent>
     <form #form="ngForm" class="card border-0 p-3">
        <input type="hidden" name="adminId" value="{{adminId}}" /> 
        <div class="d-flex flex-wrap gap-3">
            <div class="flex-fill">
                <app-labelcontrolconcomponent label="Name" [star]="true"></app-labelcontrolconcomponent>
                <app-inputcontrolcomponent errmsg="{{nameMessage}}"  [(inputModel)]="somTitle" placeholder="" class="bg-white bg-none metaInfo" type="text" *ngIf="Isshowinput"></app-inputcontrolcomponent>                         
            </div>
            <div class="flex-fill">
                <app-labelcontrolconcomponent  label="Seq No" [star]="true"></app-labelcontrolconcomponent>
                <app-inputcontrolcomponent  errmsg="{{seqnoMessage}}" [(inputModel)]="somSeqNo" placeholder="" class="bg-white bg-none" type="number" *ngIf="Isshowinput"></app-inputcontrolcomponent>             
            </div>            
        </div>        
        <p class="text-danger text-center">{{mes}}</p>  
        <img width="50" class="d-block mx-auto" class="loader-img" *ngIf="loading" src="/assets/images/loader.gif" />
        <div class="d-flex justify-content-end gap-2">        
            <app-buttoncontrolconcomponent routerLink="/{{selloptionlisturl}}" btnstyle="bg-silver text-dark float-end mt-3 border-0 px-3" btnname="Cancel"></app-buttoncontrolconcomponent>    
            <app-buttoncontrolconcomponent [btndisable]="loading" (click)="onSubmit(form)"  btnstyle="bg-theme2 float-end mt-3 border-0 px-3" btnname="Save"></app-buttoncontrolconcomponent>        
        </div>            
    </form> 
</main>
